<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8 " />

    <title> site web </title>

    <link rel="stylesheet" type="text/css" href="../static/style.css">

</head>

<body>
    <header>
        <div class="principal">
            <nav>
                <img src="" class="logo" alt="">
                <ul>
                    <li class="active">
                    <li><a href="/accueil">Acceuil</a> </li>
                    <li><a href="#Calendrier">Calendrier</a> </li>
                    <li><a href="/commentaires">Avis</a> </li><!--afficher les avis-->
                    <li><a href="/avis">add Avis</a> </li><!--ajouter avis-->
                    <li><a href="/reservation">Liste</a> </li>
                    <li><a href="/chambres">Chambres </a> </li>
                    <li><a href="/deconnexion">Déconnecter </a> </li>


                </ul>
            </nav>

            <div class="titre">
                <h1> bienvenue dans notre site web.</h1>
                <p>Vous allez trouver des chambres de vos goûts selon vos budgets....
                </p>

            </div>
        </div>


    </header>


</body>

</html>